body, #page {
    background-color: #82b0e2;
}

/*
    タッチメニューCSS
*/
.tlw-control-list {
    position: absolute;
    font-size:1.1em;
    text-align:left;
}

.tlw-control {
    cursor: pointer;
    display: block;
    position: absolute;
    padding: .5em .3em;
}

.tlw-control:active{
    text-decoration: none;
}

.tlw-title {
    display: block;
    padding: .5em .5em .5em 1.5em;
    background-color:rgba(11, 78, 162, 0.85);
    color:white;
}

.tlw-link {
    display: block;
    padding:  .5em .7em .5em 1.7em;
    text-indent:-1em;
    text-decoration: none;
}

.tlw-link:active {
    background-color: rgba(51, 192, 204, 0.85);
    text-decoration: none;
}

.tlw-control-list,.tlw-list{
    margin:0px;
    list-style: none;
    padding: 0px;
    display: block;
    max-width:16em;
}
.tlw-list {
    background-color:rgba(255, 255, 255, 0.85);
}

.tlw-active{
    background-color: rgba(51, 192, 204, 0.85);
}
