/* テキストを省略せずに表示する */
.ui-header .ui-title, /* ヘッダー */
.ui-footer .ui-title, /* フッター */
.ui-btn-inner, /* ボタン */
.ui-li-heading, /* リスト見出し */
.ui-li .ui-btn-text a.ui-link-inherit, /* リンクリスト */
.ui-li-desc /* リスト詳細 */ {
    overflow: visible;
    white-space: normal;
}

#license-title {
    white-space: normal;
    font-family: sans-serif;
    font-size: .7em;
}

#license-body {
    white-space: normal;
    font-family: sans-serif;
    font-size: .5em;
}

#terms-title {
    white-space: normal;
    font-size: 1em;
}

#terms-body {
    white-space: normal;
    font-size: 1em;
}

#terms-detail {
    white-space: normal;
    font-size: 1em;
    text-indent: 1em;
}

#terms-body-indent {
    white-space: normal;
    font-size: 1em;
    padding-left: 1em;
    text-indent: -1em;
}

#terms-detail-indent {
    white-space: normal;
    font-size: 1em;
    padding-left: 2em;
    text-indent: -1em;
}

.cls-white-space-normal {
    white-space: normal;
}