/* 
    ヘッダー 
    テキストを省略せずに表示する
*/
.ui-header .ui-title  {
    overflow: visible;
    white-space: normal;
    margin: 0 15%;
}
/* 
    フッター
*/
.ui-navbar li .ui-btn {
    font-size: .7em;
}
/*
    スライドパネル
*/
#contentpanel .ui-btn,#contentpanel .ui-li-divider{
    font-size:1.1em;
    white-space:normal;
}

/*
    ios 長押し対応
*/
*:not(input){

/* prevent callout to copy image, etc when tap to hold */
-webkit-touch-callout: none;

/* prevent webkit from resizing text to fit */
/*-webkit-text-size-adjust: none;*/

/* make transparent link selection, adjust last value opacity 0 to 1.0
*/
/*-webkit-tap-highlight-color: rgba(0,0,0,0);*/

/* prevent copy paste, to allow, change 'none' to 'text' */
-webkit-user-select: none;
}

/*
    ページ遷移（アニメーション）
*/
/* Right transition */
[data-role="page"].right {
    -webkit-transition: -webkit-transform 150ms ease;
    -webkit-transform: translateX(20%);
    -moz-transition: -moz-transform 150ms ease;
    -moz-transform: translateX(20%);
    -o-transition: -o-transform 150ms ease;
    -o-transform: translateX(20%);
    transition: transform 150ms ease;
    transform: translateX(20%);
}
/*
    ページ遷移（影）
*/
/* shadow */
[data-role="page"].shadow{
-webkit-box-shadow: 10px 10px 20px #bbbbbb, -3px -3px 10px #bbbbbb;
-moz-box-shadow: 10px 10px 20px #bbbbbb, -3px -3px 10px #bbbbbb;
box-shadow: 10px 10px 20px #bbbbbb, -3px -3px 10px #bbbbbb;
}